.DS_Store
.sisyphus/
.opencode/node_modules/
.ipynb_checkpoints/
tmp/
logs/
.env
__pycache__/
.playwright-mcp/
test.ipynb
OpenMathInstruct-Pro-Seed.csv
arxiv-op-papers-0318.csv
arxiv-op-papers-0318_with_validation.csv
